{
    DISCORD_TOKEN=https://discord.com/developers/applications
    DETECTLANGUAGE_API_KEY=https://detectlanguage.com/
    RAPID_API_KEY=https://rapidapi.com/gatzuma/api/deep-translate1/
    DEVELOPER_TEST_SERVER=GUILD_ID of test server
    OWNER_IDS=ID of owners, separate each with a ','
}